@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body,
p,
li,
a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #1d1e20;
    font-family: 'Quicksand', sans-serif;
}


/* Inicio Header */

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    background-color: #111111;
    align-items: center;
    color: white;
    padding: 7px 0;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.menu li {
    display: inline-flex;
    padding-right: 10px;
}

.menu li a {
    color: white;
    text-transform: uppercase;
}

.menu li a:hover {
    color: turquoise;
}

.menu li ul {
    position: absolute;
    display: none;
}


/* Fim do header*/

.center {
    display: grid;
    grid-template-columns: 48% auto 48%;
    padding-left: 5%;
    padding-right: 5%;
}

.divisor {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 98%;
}

#desafio {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#titulo {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}


/* Noticias Em alta */

.noticiarelevante {
    background-color: #111111;
    width: 970px;
    height: 450px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 10px;
}

.titulorelevante {
    position: relative;
    color: white;
    padding: 0 40px;
    padding-top: 20px;
}

.divsnoticia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    padding: 20px;
}

.divsnoticia>div {
    width: 250px;
    height: 150px;
}

.divsnoticia>div.fotoprincipal {
    grid-row: 1/4;
    grid-column: 1;
    width: 350px;
    height: 310px;
}

.fotoprincipal>img {
    width: 100%;
    height: 100%;
}

.divsnoticia img {
    width: 100%;
    height: 100%;
    transition: 0.30s;
}

.fotosde {
    display: grid;
    transition: 0.15s;
}

.fotosde:hover {
    width: 95%;
    height: 103%;
    cursor: pointer;
}

.fotosde1:hover {
    width: 95%;
    height: 103%;
    cursor: pointer;
}

.fotosde img {
    grid-column: 1;
    grid-row: 1/3;
}

.fotosde p {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    grid-column: 1;
    grid-row: 2;
    align-self: flex-end;
}

.fotosde1 p {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    font-size: 25px;
    grid-column: 1;
    grid-row: 2;
    align-self: flex-end;
}


/*  Fim Noticias Em alta */


/* Noticias Recentes */

.noticiasrecentes {
    margin-top: 60px;
    background-color: #111111;
    width: 950px;
    height: 610px;
    margin: 0 auto;
    justify-items: center;
    padding: 10px;
}

.noticiasrecentes h1 {
    color: white;
}

.noticiasdivs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    padding: 20px;
}

.noticiasdivs>div {
    width: 250px;
    height: 150px;
}

.noticiasdivs img {
    width: 100%;
    height: 100%;
    transition: 0.30s;
}

.noticiarec:hover {
    width: 90%;
    height: 103%;
    cursor: pointer;
}

.noticiarec {
    display: grid;
    transition: 0.15s;
}

.noticiarec img {
    grid-column: 1;
    grid-row: 1/3;
}

.noticiarec p {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    grid-column: 1;
    grid-row: 2;
    align-self: flex-end;
}

.noticiasrecentes button {
    display: grid;
    grid-column: 1/4;
    padding: 5px;
    margin: 10px;
    width: 100%;
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
    transition: 0.15s;
}

.noticiasrecentes button:hover {
    width: 100%;
    padding: 6px;
}


/* Fim Noticias Em alta */


/* Container de Cursos Inicio*/

.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #111111;
    width: 950px;
    height: 450px;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
    padding: 10px;
    justify-items: center;
}

.linguagens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.linguagens>div {
    width: 200px;
    height: 150px;
    background-color: tomato;
}

.atividades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.atividades>div {
    width: 200px;
    height: 150px;
    background-color: tomato;
}

footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    background-color: #111111;
    color: white;
    padding: 18px 0;
}

footer>a {
    margin: 0 30px;
    color: white;
}